<html ng-app='minesweeper'>
    <head>
        <title>Minesweeper</title>

        <!-- JQuery -->
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

        <!-- AngularJS -->
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js'></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">


        <script src='js/scripts.js'></script>
        <script src='js/Controllers/MinesweeperController.js'></script>

        <link rel='stylesheet' href='css/styles.css'></link>
    </head>
    <body ng-controller='MinesweeperController'>
        <!-- minefield table -->
        <table id='gameboard'>
            <tr ng-repeat='row in minefield.rows'>
                <td class='spot' ng-repeat='spot in row.spots' ng-click='uncoverSpot(spot)'>
                    <!-- {{ spot.isCovered }} -->
                    <img ng-if='spot.isCovered' src='css/images/covered.png'>
                    <img ng-if='!spot.isCovered && spot.content=="empty"' src='css/images/empty.png'>
                    <img ng-if='!spot.isCovered && spot.content=="mine"' src='css/images/mine.png'>
                    <img ng-if="!spot.isCovered && spot.content == 1" src="css/images/number-1.png">
                    <img ng-if="!spot.isCovered && spot.content == 2" src="css/images/number-2.png">
                    <img ng-if="!spot.isCovered && spot.content == 3" src="css/images/number-3.png">
                    <img ng-if="!spot.isCovered && spot.content == 4" src="css/images/number-4.png">
                    <img ng-if="!spot.isCovered && spot.content == 5" src="css/images/number-5.png">
                    <img ng-if="!spot.isCovered && spot.content == 6" src="css/images/number-6.png">
                    <img ng-if="!spot.isCovered && spot.content == 7" src="css/images/number-7.png">
                    <img ng-if="!spot.isCovered && spot.content == 8" src="css/images/number-8.png">

                </td>
            </tr>
        </table>

        <h3 ng-if='isWinMessageVisible'>You won!</h3>
    </body>
<html>
